<p id="notice"><%= notice %></p>

<h1>Listing Distribution Groups</h1>

<h1><%= @user_id %></h1>
<h1><%= current_user.id %><br></h1>
<p><%= @current_id %></p>


<table>
  <thead>
    <tr>
      <th>Distribution Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dist_groups.each do |dist_group| %>
      <tr>
        <td><%= link_to dist_group.dist_name, dist_group %></td>
        <td><%= link_to 'Show', dist_group %></td>
        <td><%= link_to 'Destroy', dist_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Distribution Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% if @user_groups != nil %>
    <% @user_groups.each do |dist_group| %>
      <tr>
        <td><%= link_to dist_group.dist_name, dist_group %></td>
        <td><%= link_to 'Show', dist_group %></td>
        <td><%= link_to 'Destroy', dist_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distribution group', new_dist_group_path %>
