<p id="notice"><%= notice %></p>

<h1>Listing Distribution Groups</h1>

<table>
  <thead>
  <tr>
    <th>Distribution Group Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @user_groups != nil %>
      <% @user_groups.each do |dist_group| %>
          <tr>
            <td><h2><%= link_to dist_group.dist_name, dist_group %></h2></td>
            <td><%= button_to 'Show', dist_group, class: 'greenbutton', :method => :get %></td>
            <td><%= button_to 'Destroy', dist_group, class: 'redbutton', method: :delete %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Distribution group', new_dist_group_path, class: 'button',:method => :get %>
