<p id="notice"><%= notice %></p>
<p>
  <h1>Distribution name: <%= @dist_group.dist_name %></h1>
</p>
  <p>
<% if @dpubkey.blank? %>
  <strong>Public Key:</strong><br>
  <p><span style="color: red; ">The public key for <span style="color: black; "><%= @dist_group.dist_name %></span> is not found. Delete this group and make a new one.</span></p>
  <% else %>
  <h2>Public Key:</h2><br>
  <%= simple_format(@dpubkey) %>
  </p>
<% end %>

<h2>Add a recipient:</h2>
<%= render 'recipients/form' %>

<h2>Recipients in the Distribution Group</h2>
<%= render @dist_group.recipients %>

<%= button_to 'Back', dist_groups_path, class: 'button',:method => :get %>
