<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
    <div class="logo"></div>
    <p id="notice"><%= notice %></p>
    <h2>Log in to HuddleMail</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

    <%= f.submit "Log in", class: 'button' %>
    <% end %>
    <%= button_to 'Back', :back, class: 'button', :method => :get%>

</body>

</html>

