<%= form_for([@dist_group, @dist_group.recipients.build]) do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :public_key %><br>
    <%= f.text_area :pub_key %>
  </p>
  <p>
    <strong><%= f.submit "Add Recipient" %></strong>
  </p>
<% end %>

