<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <%= yield -%>
  <div class="logo"></div>
  <h2>Welcome to HuddleMail, try our service out below</h2>
  <%= button_to 'Register', {:action => 'register'}, class: 'button',:method => :get %>
  <%= button_to 'Log In', {:action => 'login'}, class: 'button', :method => :get %>
</div>
</body>

</html>
