<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <h2>Log in to HuddleMail</h2>
  <%= form_tag :action => 'login' do %>
      <label for="email">Email</label>
      <%= email_field 'profiles', 'email' %></p>
      <label for="password">Password</label>
      <%= password_field 'profiles', 'password' %>
      <%= button_to 'Log in', {:action => 'create'},class: 'button'%>
  <% end %>
  <%= button_to 'Back', {:action => 'index'}, class: 'button',:method => :get %>
</div>
</body>

</html>
