<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail register form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <h2>Register for HuddleMail</h2>

  <%= form_tag :action => 'create' do %>
      <label for="email">Email</label>
      <%= text_field 'recipients', 'email' %></p>
      <label for="pub_key">Public Key</label>
      <%= text_area 'recipients', 'pub_key' %>
      <%= button_to 'Register', {:action => 'create'},class: 'button'%>
  <% end %>
  <%= button_to 'Back', {:action => 'index'}, class: 'button',:method => :get %>
</div>
</body>

</html>