<%= form_for(@dis_group) do |f| %>
  <% if @dis_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dis_group.errors.count, "error") %> prohibited this dis_group from being saved:</h2>

      <ul>
      <% @dis_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disname %><br>
    <%= f.text_field :disname %>
  </div>
  <div class="actions">
    <%= f.submit "Create Distribution Group" %>
  </div>
<% end %>
