<p id="notice"><%= notice %></p>

<p>
  <h1>Distribution name:</h1>
  <%= @dis_group.disname %>
</p>
  <p>
<% if @dpubkey.blank? %>
  <strong>Public Key:</strong><br>
  <p><font color="red">The public key is not found. Delete this group and make a new one.</font></p>
  <% else %>
  <strong>Public Key:</strong><br>
  <%= @dpubkey %>
  </p>
<% end %>

<h2>Add a recipient:</h2>
<%= form_for([@dis_group, @dis_group.rlists.build]) do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :public_key %><br>
    <%= f.text_area :pubkey %>
  </p>
  <p>
    <%= f.submit "Click only if you're sure" %>
  </p>
<% end %>

<h2>Recipients in the distribution group</h2>
  <% @dis_group.rlists.each do |rlist| %>
    <p>
      <strong>Email:</strong>
      <%= rlist.email %>
     <br>
      <strong>Associated public key:</strong><br>
      <%= rlist.pubkey %>
    </p>
  <% end %>

<%= link_to 'Edit', edit_dis_group_path(@dis_group) %> |
<%= link_to 'Back', dis_groups_path %>
