<%= form_for(@dist_group) do |f| %>
  <% if @dist_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dist_group.errors.count, "error") %> prohibited this dist_group from being saved:</h2>

      <ul>
      <% @dist_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dist_name %><br>
    <%= f.text_field :dist_name %>
  </div>
  <div class="actions">
    <%= f.submit "Create New Distribution Group" %>
  </div>
<% end %>
