<h1>Add Recipients</h1>

<%= form_tag :action => 'create' do %>
    <p><label for = "email">Email</label>:
      <%= text_field 'recipients', 'email' %></p>
    <p><label for = "pub_key">Public Key</label>
      <%= text_area 'recipients', 'pub_key' %></p>
    <p><label for = "email">Email</label>:
      <%= text_field 'recipients', 'email' %></p>
    <p><label for = "pub_key">Public Key</label>
      <%= text_area 'recipients', 'pub_key' %></p>
    <p><label for = "email">Email</label>:
      <%= text_field 'recipients', 'email' %></p>
    <p><label for = "pub_key">Public Key</label>
      <%= text_area 'recipients', 'pub_key' %></p>
    <p><label for = "email">Email</label>:
      <%= text_field 'recipients', 'email' %></p>
    <p><label for = "pub_key">Public Key</label>
      <%= text_area 'recipients', 'pub_key' %></p>
    <%= submit_tag "Create" %>

<% end -%>