<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "normalize" %>

<head>
  <meta charset="UTF-8">
  <title>HuddleMail</title>
  <div class="navbar">
    <% if user_signed_in? %>
        <li><%= link_to current_user.email, edit_user_registration_path, class: 'active' %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Distribution Groups', dist_group_show_path %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, :method => :get %></li>
    <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
    <% end %>
  </div>
</head>

<body>
  <div class="wrapper">
    <%= yield -%>
  </div>
</body>
</html>
