<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail Register Form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <h2>Register for HuddleMail</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>


      <%= f.submit "Submit", class: 'button'%>

  <% end %>
</div>
</body>

</html>

<%= render "users/shared/links" %>
